[Unit]
Description=Clipboard Sharing Service

[Service]
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStart=/home/dakai/Apps/taobao-link-converter/monitor.sh

[Install]
WantedBy=multi-user.target

